html, body, div, span, article, section,
h1, h2, h3, h4, h5, h6, p,
a, button,
ol, ul, li,
form, label, input,
header, nav {
  margin: 0;
  padding: 0;
  font-size: 100%; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

/***** General *****/
html {
  font-size: 62.5%; }

body {
  font-size: 1.4rem;
  font-family: futura-pt, sans-serif; }
  @media (min-width: 320px) and (max-width: 600px) {
    body {
      font-size: 2rem; } }

h1 {
  font-size: 4rem;
  font-weight: 900;
  margin: 1rem 0; }

q {
  font-family: Georgia, serif; }

/** Wrapper for larger screens, on mobile ignore **/
@media (min-width: 601px) and (max-width: 800px) {
  .wrapper {
    margin-left: 1rem;
    margin-right: 1rem; } }

@media (min-width: 801px) {
  .wrapper {
    margin-left: 8rem;
    margin-right: 8rem; } }

/* light text color */
p, a {
  color: #bbb; }

/* regular text color */
footer p, header p {
  color: #666; }

/***** Header *****/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem 4rem; }
  header .cloud-logo {
    width: 5rem;
    height: 5rem;
    margin-top: 2rem; }

/***** Main Section *****/
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  /* on mobile use 1 column layout */ }
  @media (min-width: 320px) and (max-width: 600px) {
    section {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  section article {
    margin: 1rem;
    /* make images as wide as article */ }
    section article img {
      width: 100%;
      height: auto; }
    @media (min-width: 320px) and (max-width: 600px) {
      section article {
        margin: 2rem 0 0 0;
        max-width: 60rem; } }
    @media (min-width: 601px) and (max-width: 800px) {
      section article {
        width: calc((100% - 4rem )/ 2); } }
    @media (min-width: 801px) {
      section article {
        width: calc((100% - 6rem) / 3); } }

/*** Insert author and heart icon ***/
.author {
  background: url(../images/user-icon.svg) no-repeat top left;
  padding-left: 3rem;
  margin-bottom: 1rem; }

.likes {
  background: url(../images/heart.svg) no-repeat top left;
  padding-left: 3rem; }

/**** Adjust author and like count layout, 
        only immediately visible on small screens ****/
.photo-info {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #000;
  opacity: .8;
  padding: 1rem 0 1rem 2rem;
  margin: -6.3rem auto 0; }
  @media (min-width: 320px) and (max-width: 600px) {
    .photo-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      padding: 1rem 0 2rem 2rem;
      margin: -8.2rem auto 0; } }

/*** On hover, make photo info visible ***/
article:hover .photo-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

/***** Footer *****/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10rem;
  padding: 4rem 0; }
