//font sizes
$font-size-default: 1.4rem;
$font-size-large: 2rem;
$font-size-header: 4rem;

// font families
$font-family-default: futura-pt, sans-serif;
$font-family-alt: Georgia, serif;

// text colors
$text-color: #666;
$text-color-alt: #bbb;
$animate-color: #0080AA;