/***** General *****/
html {
    font-size: 62.5%;
}

body {
    font-size: $font-size-default;
    font-family: $font-family-default;
    
    @include mq(small) {
        font-size: $font-size-large;
    }
}

h1 {
    font-size: $font-size-header;
    font-weight: 900;
    margin: 1rem 0;
}

q {
    font-family: $font-family-alt;
}

/** Wrapper for larger screens, on mobile ignore **/
.wrapper {
    @include mq(med) {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    @include mq(large) {
        margin-left: 8rem;
        margin-right: 8rem;
    }
}

/* light text color */
p, a {
    color: #bbb;
}

/* regular text color */
footer p, header p {
    color: $text-color;
}

/***** Header *****/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem 4rem;
    
    .cloud-logo {
        width: 5rem;
        height: 5rem;
        margin-top: 2rem;
    }
}

/***** Main Section *****/
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    /* on mobile use 1 column layout */
    @include mq(small) {
        flex-direction: column;
    }
    
    article {
        margin: 1rem;
        /* make images as wide as article */
        img {
            width: 100%;
            height: auto;
        }
        
        @include mq(small) {
            margin: 2rem 0 0 0;
            max-width: 60rem;
        }
        
        @include mq(med) {
            width: calc((100% - 4rem )/ 2);
        }
        
        @include mq(large) {
            width: calc((100% - 6rem) / 3)
        }
    }
}

/*** Insert author and heart icon ***/
.author {
    background: url(../images/user-icon.svg) no-repeat top left;
    padding-left: 3rem;
    margin-bottom: 1rem;
}

.likes {
    background: url(../images/heart.svg) no-repeat top left;
    padding-left: 3rem;
}

/**** Adjust author and like count layout, only immediately visible on small screens ****/
/* set general styling */
.photo-info {
    display: flex;
    flex-direction: column;
    /* needed to have background color appear over image */
    position: relative;
    background-color: #000;
    opacity: .8;
    padding: 0 0 0 2rem;
    margin-top: 0;
    
    @include mq(small) {
        display: flex;
        padding: 1rem 0 2rem 2rem;
        margin-top: -8.7rem; 
    }
}

/***** Hover Transition *****/
/* add med and large screen specific styles */
article .photo-info {
    @include mq(med) {
        transition: all .3s ease-in;
        height: 0;
        overflow: hidden;
    }
    
    @include mq(large) {
        transition: all .3s ease-in;
        height: 0;
        overflow: hidden;
    }
}

/*** On hover, make photo info visible ***/
article:hover > .photo-info {
    opacity: .8;
    height: 4rem;
    padding: 1rem 0 1rem 2rem;
    margin-top: -6.3rem;
    
    /* make sure there is no change on small screens */
    @include mq(small) {
        height: auto;
        padding: 1rem 0 2rem 2rem;
        margin-top: -8.7rem; 
    }
}


/**** Animations ****/
/* change text color */
.changeCol {
    animation: changeCol 2s ease-out forwards;
}

@keyframes changeCol {
    100% { color: #66A8CC; }
}

/***** Footer *****/
footer {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    padding: 4rem 0;
}