html {
    font-size: 62.5%;
}

body {
    font-size: $font-size-default;
    font-family: $font-family-default;
    
    @include mq(small) {
        font-size: $font-size-large;
    }
}

h1 {
    font-size: $font-size-header;
    font-weight: 900;
    margin: 1rem 0;
}

q {
    font-family: $font-family-alt;
}


.wrapper {
    @include mq(med) {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    @include mq(large) {
        margin-left: 8rem;
        margin-right: 8rem;
    }
}


p, a {
    color: #bbb;
}

footer p, header p {
    color: $text-color;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem 4rem;
    
    .cloud-logo {
        width: 3%;
        height: 3%;
        margin-top: 2rem;
        
        @include mq(small) {
            width: 5rem;
            height: 5rem;
        }
    }
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    @include mq(small) {
        flex-direction: column;
    }
    
    article {
        margin: 1rem;
        
        img {
            width: 100%;
            height: auto;
        }
        
        @include mq(small) {
            margin: 2rem 0 0 0;
            max-width: 60rem;
            align-items: flex-start;
        }
        
        @include mq(med) {
            width: calc((100% - 4rem )/ 2);
        }
        
        @include mq(large) {
            width: calc((100% - 6rem) / 3)
        }
    }
}

.photo-info {
    display: none;
    flex-direction: column;
    background-color: #000;
    opacity: .8;
    padding: 1rem 0 2rem 2rem;
    margin: -8rem auto 0;
    
    @include mq(small) {
        display: flex;
        flex-direction: column;
        background-color: #000;
        opacity: .8;
        position: relative;
        //width: 30rem;
        padding: 1rem 0 2rem 2rem;
        margin: -8rem auto 0;
        
    }
}

.author {
    background: url(../images/user-icon.svg) no-repeat top left;
    padding-left: 3rem;
    margin-bottom: 1rem;
}

.likes {
    background: url(../images/heart.svg) no-repeat top left;
    padding-left: 3rem;
}

article img:hover div {
    opacity: .5;
    display: flex;
    position: relative;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    padding: 4rem 0;
}